body {
    font-family: 'Roboto', sans-serif;
    background-color: #313131;
    color: #e0e0e0;
}

.blue {
    color: #3399ff;
}

.white {
    background-color: #313131;
}

.image1 {
    width: 50%;
}